body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

img {
	display: block;
    max-width: 100%;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

.container{
  max-width: 1158px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
    align-items: center;
}

.navigation-list{
    display: flex;
    align-items: center;
}

.header-logo{
    padding: 24px 0;
    margin-right: 76px;
}

.web-header{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
    text-decoration: none;
}

.studio-header{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.navigation-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 40px;
}

.link-nav{
    color: #2e2f42;
    text-decoration: none;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav.current{
    position: relative;
    color: #404bbf;
}

.link-nav.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
}

li a:hover, li a:focus{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

address{
    font-style: normal;
    margin-left: auto;
}

.link{
    color: #434455;
    text-decoration: none;
    display: block;
    padding: 24px 0;
}

.cotacts-list{
    font-style: normal;
    margin-left: auto;
}

.contacts{
    display: flex;
    align-items: center;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.contacts-link{
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover, .contacts .link:focus{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.main-page{
    background-color: #2e2f42;
    letter-spacing: 0.02em;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
	to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url("../images/people-office.jpg");
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}

.main-page-container{
    align-items: center;
}

.main-page-title{
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto 48px;
}

.order-button{
    background: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    text-wrap: nowrap;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.order-button:hover{
    background-color: #404bbf;
    cursor: pointer;
}

.order-button:focus{
    background-color: #404bbf;
}

.studio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.studio-title{
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.studio-list{
    display: flex;
    gap: 24px;
}

.studio-list-punkts{
    width: calc((100% - 72px) / 4);
}

.studio-antenna{
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.studio-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.studio-list-description{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team{
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-title{
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
   
.team-mem{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team-list{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4)
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-mem-description{
    padding: 32px 0;
}

.team_mem-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42 ;
    text-align: center;
    margin-bottom: 8px;
}

.team_vacantion{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.team-list-soc{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.team-soc-item{
    width: 40px;
    height: 40px;
}

.team-soc-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.team-soc-icon{
    fill: #f4f4fd;
    background-color: #4d5ae5;
}

.team-soc-link:hover, .team-soc-link:focus{
    background-color: #404bbf;
}

.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item{
    max-width: calc((100% - 48px) / 3);
}

.portfolio-img{
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.portfolio-list-item{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text{
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-description{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-list-item:hover .overlay{
    transform: translateY(0);
}

.portfolio-list-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.footer-page{
    background-color:  #2e2f42;
    color: #f4f4fd;
    padding: 100px 0;
}

.footer-logo-description{
    margin-right: 120px;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.web-footer{
    color: #4d5ae5;
}

.studio-footer{
    color: #f4f4fd;
}

.footer-description{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-soc-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #fff;
    margin-bottom: 16px;
}

.footer-container{
    display: flex;
    align-items: baseline;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: start;
}

.footer-soc-link:hover, .footer-soc-link:focus{
    background-color: #31d0aa;
}
.footer-soc-list{
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-soc-item{
    width: 40px;
    height: 40px;
}

.footer-soc-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-soc-icon{
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
}

.subscribe-form{
    margin-left: auto;
}

.subscribe-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px; 
}

.subscribe-email{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff; 
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-email:focus, .subscribe-email:hover{
    background-color: #ffffff;
}

.subscribe-form-items{
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.subscribe-btn{
    border-radius: 4px;
    border: none; 
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.subscribe-btn:hover, .subscribe-btn:focus{
    background-color: #31d0aa;
}


.footer-subscribe-icon{
    margin-left: 16px;
    fill: #fff;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px; 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.form-close-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0; 
    top: 24px;
    right: 24px;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.btn-close-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.form-close-btn:hover, .form-close-btn:focus{
    fill: #ffffff;
    background-color: #404bbf; 
    border: none;
}

.order-form-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 360px;
    margin-bottom: 16px;
}

.form-field{
    margin-bottom: 8px; 
}

.form-field-label{
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.form-input-text{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 62px;
    outline: none;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding-left: 38px;
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-text:focus{
    border-color: #4d5ae5;
}

.form-input-text:focus ~ svg{
    fill: #4d5ae5;
    stroke: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.form-field-comment{
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    background-color: transparent; 
    padding: 8px 16px; 
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-comment:focus{
    border-color: #4D5AE5; 
}

.form-input-icon-div{
    position: relative;
    fill: #2E2F42;
    stroke:  #2e2f42;
    margin-bottom: 8px;
}

.form-input-icon-div svg{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.form-field-comment::placeholder{
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color :rgba(46, 47, 66, 0.4);
}

.form-field-checkbox-div{
    margin-bottom: 24px;
}

.form-label-checkbox{
    font-weight: 400;
    line-height: 1.17; 
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-custom-checkbox{
    display: block;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    fill: transparent;
    background-color: transparent; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .form-label-checkbox > .form-custom-checkbox{
    background-color: #404bbf;
    border: none; 
    fill: #F4F4FD;
}

.input-checkbox:checked + .form-label-checkbox > .form-custom-checkbox-check{
    opacity: 1;
    fill: #F4F4FD;
}

.form-field-comment-div{
    margin-bottom: 16px;
}

.privacy-agreement-link{
    color: #4d5ae5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.form-btn-submit{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border-color: transparent;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    margin: 0 auto;
    text-wrap: nowrap;
    border: none;
    margin-top: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.form-btn-submit:hover, .form-btn-submit:focus{
    background-color: #404bbf;
}

